<h3>Make Check Payable to...</h3>
<p class="well clearfix">
  <%= label_tag "Name on Check" %>
  <%= text_field_tag "Name" %><br/>
  <%= label_tag "Confirm Name on Check" %>
  <%= text_field_tag "Confirm Name" %>
</p>