<div class="modal fade" id="memorysize" tabindex="-1" role="dialog" aria-labelledby="memorysize" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="memorysize">Identifying Memory Capacity</h4>
      </div>
      <div class="container col-md-12">
      <div class="modal-body">
        <%= image_tag("settingsIcon.png", alt: "settings", style: "display: block; margin: auto;")%>
        <div class="row">
            <div class="col-md-6">
            <p>
            <ol>
              <li>Click <strong>Settings</strong></li>
              <li>Tap <strong>General</strong></li>
              <li>Tap <strong>About</strong></li>
              <li>Scroll down to <strong>Capacity</strong></li>
            </ol>
            </p>
            </div>
            <div class="col-md-6">
              <table style="margin-top: 15px;">
                <tr>
                  <th>Available Memory Sizes</th>
                </tr>
                <tr>
                  <td>8GB, 16GB, 32GB</td>
                </tr>
                <tr>
                  <td>64GB, 128GB</td>
                </tr>
                
              </table>
            </div>
            <div class="pad10"></div>
            <div class="col-md-12">
              <p>*Memory sizes are not exact! Round to the nearest available size. <br>(ex. 7.3GB Capacity = 8GB Memory Size)</p>
            </div>
        </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>