<div id="banner" class="about_banner">
  <div class="container intro_wrapper" id="about">
    <div class="inner_content">
      <h1 class="title">About Us</h1>
      <h1 class="intro">
        We make selling electronics <span class="hue">Simple</span>
      </h1>
    </div>
  </div>
</div>

  <div class="container wrapper">
    <div class="inner_content">
      <div class="row">
        <h1 class="title" style="padding: 30px 0 40px 0;">What We Do</h1>
        <div class="col-sm-6 col-md-6">
          <div class="animated bounceInDown"><i class="fa fa-globe colour big"></i></div>
          <h2>Our Mission</h2>
          <p>SimpleBuyBack is a company devoted to making it <span class="colour">simple</span> to sell your electronics. 
            Our mission is to keep electronics and their chemicals out of landfills by promoting recycling and recommerce. 
            <br>
            <br>Help us reach our goal of saving 100,000 devices from landfills.
          </p>
          <div class="pad25"></div>
        </div>
        <!--col 3-->
        <div class="col-sm-6 col-md-6">
          <div class="animated bounceInRight"><i class="fa fa-lightbulb-o colour big"></i></div>
          <h2>Our Process</h2>
          <p>
            After You Mail in Your Device...
          </p>
          <ul class="fa-ul">
            <li><i class="fa-li fa fa-hdd-o colour process_icon"></i> Device data is <strong>immediately wiped</strong> removing <strong>ALL</strong> personal info</li>
            <li><i class="fa-li fa fa-check colour process_icon"></i> Your device is inspected and verified</li>
            <li><i class="fa-li fa fa-dollar  colour process_icon"></i>Money sent to seller</li>
            <li><i class="fa-li fa fa-cogs colour process_icon"></i> Device is refurbished by our technical team</li>
            <li><i class="fa-li fa fa-mobile-phone colour process_icon"></i> Placed on the market so someone else can enjoy it </li>
          </ul>
          <div class="pad25"></div>
        </div>
        <div class="col-sm-4 col-md-4">
        </div>
      </div>
      <div class="row">
      <h1 class="title" style="padding-bottom: 40px;">Meet the Team</h1>
        <div class="col-sm-6 col-md-4">
    <div class="team_sections fadeindown">
      <%= image_tag "mark.png", class: "team_pic" %>
      <h5>
        <span>Mark Anthony Ortega</span>
      </h5>
      <p>
        <small class="muted">- CEO and Software Developer - </small>
      </p>
      <p class="team_bio">
        Mark is a Founding Partner at SimpleBuyBack. He graduated from the University of Texas at Austin with a degree in economics and is a serial entrepreneur.</p>
      <hr class="team-line">
      <a href="http://www.linkedin.com/in/mortega2/" class="zocial icon linkedin team_ic"></a>
    </div>
    <div class="pad15"></div>
  </div>
        <div class="col-sm-6 col-md-4">
    <div class="team_sections fadeindown">
      <%= image_tag "stephanie.png", class: "team_pic" %>
      <h5>
        <span>Stephanie Wang</span>
      </h5>
      <p>
        <small class="muted">- Chief Financial Officer - </small>
      </p>
      <p class="team_bio">
        Stephanie holds a B.B.A and M.S. in Accounting from the University of Texas at San Antonio. Past experience includes employers Ernst & Young, J.P. Morgan, and GE. </p>
      <hr class="team-line">
      <a href="http://www.linkedin.com/pub/huanqing-stephanie-wang/35/558/579" class="zocial icon linkedin team_ic"></a>
    </div>
    <div class="pad15"></div>
  </div>
        <div class="col-sm-6 col-md-4">
          <div class="team_sections fadeindown">
            <%=  image_tag "mascot.png",class: "team_pic" , style: "border-radius: 20px;"%>
            <h5>
              <span>Mr. Oliver</span>
            </h5>
            <p>
              <small class="muted">- Mascot and Company Dog - </small>
            </p>
            <p class="team_bio">
              When Mr. Oliver's not busy answering emails or posing as a mascot, he likes to eat milkbones, people watch, and "find" new chew toys.</p>
            <hr class="team-line">
          </div>
          <div class="pad15"></div>
        </div>
      </div>
    </div>
 </div>