<div id="accordion">
  <button type="button" class="btn btn-primary" data-toggle="collapse" data-target="#one" data-parent="#accordion">one</button>
  <button type="button" class="btn btn-primary" data-toggle="collapse" data-target="#two" data-parent="#accordion">two</button>
  <button type="button" class="btn btn-primary" data-toggle="collapse" data-target="#three" data-parent="#accordion">three</button>


  <div id="one" class="collapse panel-collapse">one</div>
  <div id="two" class="collapse panel-collapse">two</div>
  <div id="three" class="collapse panel-collapse">three</div>
  </div>
</div>


