<header id="header" data-hook style="background-color:#555;">
  <div class="container">
    <figure data-hook="logo-wrapper" class="columns five">
      <%= image_tag("logo.png",class: "animated bounceInDown main-logo", alt: "Simple Buy Back")%>
    </figure>

    <nav data-hook="admin_login_navigation_bar" class="columns eleven"></nav>
  </div>
</header>
