
/* Get the navbar to display dropdown menu
.dropdown:hover .dropdown-menu {
    display: block;
}
*/

.btn-xlarge {
    font-size: 22px !important;
}

#border-right {
    border-right: 1px dashed #333;
}

label {
    display: block;
}

.btn {
    margin-bottom: 15px;
}

/* Disabling responsiveness in bootstrap */


/* Always float the navbar header */
.navbar-header {
    float: left;
}

/* Undo the collapsing navbar */
.navbar-collapse {
    display: block !important;
    height: auto !important;
    padding-bottom: 0;
    overflow: visible !important;
}

.navbar-toggle {
    display: none;
}
.navbar-collapse {
    border-top: 0;
}

.navbar-brand {
    margin-left: -15px;
}

/* Always apply the floated nav */
.navbar-nav {
    float: left;
    margin: 0;
}
.navbar-nav > li {
    float: left;
}
.navbar-nav > li > a {
    padding: 15px;
}

/* Redeclare since we override the float above */
.navbar-nav.navbar-right {
    float: right;
}

/* Undo custom dropdowns */
.navbar .navbar-nav .open .dropdown-menu {
    position: absolute;
    float: left;
    background-color: #fff;
    border: 1px solid #ccc;
    border: 1px solid rgba(0, 0, 0, .15);
    border-width: 0 1px 1px;
    border-radius: 0 0 4px 4px;
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
    box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
}
.navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #333;
}
.navbar .navbar-nav .open .dropdown-menu > li > a:hover,
.navbar .navbar-nav .open .dropdown-menu > li > a:focus,
.navbar .navbar-nav .open .dropdown-menu > .active > a,
.navbar .navbar-nav .open .dropdown-menu > .active > a:hover,
.navbar .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #fff !important;
    background-color: #428bca !important;
}
.navbar .navbar-nav .open .dropdown-menu > .disabled > a,
.navbar .navbar-nav .open .dropdown-menu > .disabled > a:hover,
.navbar .navbar-nav .open .dropdown-menu > .disabled > a:focus {
    color: #999 !important;
    background-color: transparent !important;
}


/* Styling for Why sell to us reasons */

.reasons {
    display: table-cell;
    vertical-align: middle;
    margin-right: 10px;
    text-align: center;
}

.maketable {
    display: table;
    margin-bottom: 15px;
}

/* styling for the home page panel system */

th {
    text-align: center;
}

.notopborder {
    border-top: 0px !important;
}

.homepagelabel {
    font-size: 100%;
}

/* Make images grow that are within growimages element */

.growimages img:hover {
    -moz-transform:scale(1.03);
    -webkit-transform:scale(1.03);
    -o-transform:scale(1.03);
}

/* products show page */
.offerwell {
    background-color: #e9e6e1;
    border: 0 none;
    box-shadow: none;
    margin-top: 10px;
    border-radius: 7px;

}

.offerprice {
    cursor: pointer;
    display: inline-block;
    font-weight: normal;
    margin-bottom: 0;
    padding-left: 0px;
    vertical-align: middle;
    font-size: 30px;
}

.main-logo {

    height: 54px;
    max-width: 100%;
    opacity: 1;
    vertical-align: top;
    width: auto;
    margin-top: -10px;

}

.icon-img {
    height: auto;
    max-width: 50px;
    opacity: 1;
    vertical-align: top;
    width: auto;
}

.shoppingcartquantity {
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
    color: #555;
    display: block;
    font-size: 14px;
    height: 34px;
    line-height: 1.42857;
    padding: 6px 12px;
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
    width: 70px;
    margin: auto;
}

.order_history_header {
    border-bottom: 1px solid black;
}

/* Home Page Navigation */

.homepanel {
    border-top: 1px solid darkgray;
    padding-top: 20px;
}

.carrier_image {
    max-width: 160px;
}

.brand_image {
    max-height: 110px !important;

}

.device_image {
    max-height: 190px;
}

.apple_phone {
    max-width: 75px;
}

.ipad_image {
    max-height: 150px;
}


/* iPhone Modal Table */
.col_1 {
    width:28%;
    border-bottom: 1px solid darkgray;
}
.col_2 {
    width:50%;
    border-bottom: 1px solid darkgray;
}
.col_3 {
    width:45%;
    border-bottom: 1px solid darkgray;
}


.modaltable > tbody > tr > td {
    vertical-align: middle !important;
    
}

.modaltable > tbody > tr > th {
    text-align: left;
}
.modaltable > tbody > tr > td > table {
    width: 100%;
}
.modaltable > tbody > tr > td {
    border-top: 1px solid black;
}

/* Sign Up */
.signup {
    box-shadow: 3px 3px 3px 3px lightgray;
    background-color: #f6f6f6;
    border: 1px solid transparent;
    border-radius: 20px;
    margin-bottom: 20px;
    padding: 25px;
}

.signin_btn {
    margin: 0 0 0 20px;
}

.devise_icons {
    font-size: 20px;
    margin-right: 5px;
}

.right_border {
    border-right: 1px solid darkgray;
}

.about_banner {
    padding-top: 15px;
}

.team_pic {
    border-radius: 110px;
    box-shadow: 3px 3px 3px 3px gray;
    margin: 0 auto 10px;
    position: relative;
    transition: all 0.3s ease 0s;

}
h1.intro {
    margin: 0 0 0 0;
}

h1.title {
    font-size: 40px;
    font-weight: 700;
    line-height: 45px;
    margin: 0;
    text-align: left;
}

.input_field {
    border-radius: 0 4px 4px 0;
    border: 1px solid #cccccc;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
    padding: 2px;
}

.input_field:focus {
    border-color: #66afe9;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(102, 175, 233, 0.6);
    outline: 0 none;
}

.bottom_margin_10{
    margin-bottom: 10px;
}

.process_icon {
    font-size: 17px;
}

/* Home page banner */

#how_does_it_work {
    background: none repeat scroll 0 0 #e9e6e1;
    border-radius: 10px;
}

.panels {
    border-radius: 10px;
    box-shadow: 1px 2px 5px 1px gray;
    overflow: auto;
    padding: 20px;
}

.width75 {
    max-width: 75px;
}


.top_divider {
    padding-top: 20px;
    border-top: 1px solid lightgray;
}

.assurance_row {
    vertical-align: middle; border-bottom:1px solid lightgray
}

.works_table > tbody > tr > td {
    margin: 0 20px 0 20px;
    text-align: center;
    padding: 20px 25px;
    width: 33%;
}

.works_table > tbody > tr > td > h2 {
    margin-top: 8px;
}

.works_table {
    border-radius: 10px;
    overflow: auto;
    background-color: #e9e6e1;
}

/* Bottom Trademark/Copyright */

.trademark > tbody > tr > td { 
    padding-bottom: 0; 
    font-size: 11px; 
    width: 33%;
}

.trademark > tbody > tr > td > p {
    margin-bottom: 0;
}

.trademark {
    margin-bottom: 15px;
}

.oliver {
    max-width: 100px !important;
}

#footer_alt li {
    border-bottom: 0px;
}

.active_tab {
    border: 1px solid black;
    border-radius: 30px;
    box-shadow: 1px 1px 5px 2px lightgray;
    padding-top: 10px;
}

.button_width_200 {
    max-width: 200px;
}