
/* Get the navbar to display dropdown menu
.dropdown:hover .dropdown-menu {
    display: block;
}
*/

.btn-xlarge {
    font-size: 22px !important;
}

#border-right {
    border-right: 1px dashed #333;
}

label {
    display: block;
}

.btn {
    margin-bottom: 15px;
}

/* Disabling responsiveness in bootstrap */


/* Always float the navbar header */
.navbar-header {
    float: left;
}

/* Undo the collapsing navbar */
.navbar-collapse {
    display: block !important;
    height: auto !important;
    padding-bottom: 0;
    overflow: visible !important;
}

.navbar-toggle {
    display: none;
}
.navbar-collapse {
    border-top: 0;
}

.navbar-brand {
    margin-left: -15px;
}

/* Always apply the floated nav */
.navbar-nav {
    float: left;
    margin: 0;
}
.navbar-nav > li {
    float: left;
}
.navbar-nav > li > a {
    padding: 15px;
}

/* Redeclare since we override the float above */
.navbar-nav.navbar-right {
    float: right;
}

/* Undo custom dropdowns */
.navbar .navbar-nav .open .dropdown-menu {
    position: absolute;
    float: left;
    background-color: #fff;
    border: 1px solid #ccc;
    border: 1px solid rgba(0, 0, 0, .15);
    border-width: 0 1px 1px;
    border-radius: 0 0 4px 4px;
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
    box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
}
.navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #333;
}
.navbar .navbar-nav .open .dropdown-menu > li > a:hover,
.navbar .navbar-nav .open .dropdown-menu > li > a:focus,
.navbar .navbar-nav .open .dropdown-menu > .active > a,
.navbar .navbar-nav .open .dropdown-menu > .active > a:hover,
.navbar .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #fff !important;
    background-color: #428bca !important;
}
.navbar .navbar-nav .open .dropdown-menu > .disabled > a,
.navbar .navbar-nav .open .dropdown-menu > .disabled > a:hover,
.navbar .navbar-nav .open .dropdown-menu > .disabled > a:focus {
    color: #999 !important;
    background-color: transparent !important;
}


/* Styling for Why sell to us reasons */

.reasons {
    display: table-cell;
    vertical-align: middle;
    margin-right: 10px;
    text-align: center;
}

.maketable {
    display: table;
    margin-bottom: 15px;
}

/* styling for the home page panel system */

th {
    text-align: center;
}

.notopborder {
    border-top: 0px !important;
}

.homepagelabel {
    font-size: 100%;
}

/* Make images grow that are within growimages element */

.growimages img:hover {
    -moz-transform:scale(1.03);
    -webkit-transform:scale(1.03);
    -o-transform:scale(1.03);
}

/* products show page */
.offerwell {
    background-color: #e9e6e1;
    border: 0 none;
    box-shadow: none;
    margin-top: 10px;
    border-radius: 7px;

}

.offerprice {
    cursor: pointer;
    display: inline-block;
    font-weight: normal;
    margin-bottom: 0;
    padding-left: 0px;
    vertical-align: middle;
    font-size: 30px;
}

.main-logo {

    height: 54px;
    max-width: 100%;
    opacity: 1;
    vertical-align: top;
    width: auto;
    margin-top: -10px;

}

.icon-img {
    height: auto;
    max-width: 50px;
    opacity: 1;
    vertical-align: top;
    width: auto;
}

.shoppingcartquantity {
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
    color: #555;
    display: block;
    font-size: 14px;
    height: 34px;
    line-height: 1.42857;
    padding: 6px 12px;
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
    width: 70px;
    margin: auto;
}

.order_history_header {
    border-bottom: 1px solid black;
}

/* Home Page Navigation */

.homepanel {
    border-top: 1px solid darkgray;
    padding-top: 20px;
}

.carrier_image {
    max-width: 160px;
}

.brand_image {
    max-height: 110px !important;

}

.device_image {
    max-height: 190px;
}

.apple_phone {
    max-width: 75px;
}

.ipad_image {
    max-height: 150px;
}


/* iPhone Modal Table */
.col_1 {
    width:28%;
    border-bottom: 1px solid darkgray;
}
.col_2 {
    width:50%;
    border-bottom: 1px solid darkgray;

}


.modaltable > tbody > tr > td {
    vertical-align: middle !important;
    
}

.modaltable > tbody > tr > th {
    text-align: left;
}
.modaltable > tbody > tr > td > table {
    width: 100%;
}
.modaltable > tbody > tr > td {
    border-top: 1px solid black;
}